<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <%- include('./partials/header.ejs') %>
  <div class="container">
    <div class="content mt-3">

      <div class="row">
        <div class="col">
          <ul>
            <li>
              <h3 class="show">Name</h3>
              <p class="show"><%=rsvps.name; %></p>
            </li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>
              <h3 class="show">From</h3>
              <p class="show"><%=rsvps.from; %></p>
            </li>
          </ul>
        </div>
      </div>
      <ul>
        <li>
          <h3>Memory</h3>
          <p><%=rsvps.memory; %></p>
        </li>
        <li>
          <h3>Wish</h3>
          <p><%=rsvps.wish; %></p>
        </li>
        <li>
          <h6><%=rsvps.createdAt; %></h6>
        </li>
      </ul>
    </div>
  </div>
  <%- include('./partials/nav.ejs') %>
</body>

</html>
