<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <%- include('./partials/header.ejs') %>
  <div class="container">
    <div class="content mx-auto">
      <img class="float-right pic" src="<%=rsvps.img%>">
      <div class="row">
        <div class="col">
          <ul>
            <li>
              <h3 class="show">Name</h3>
              <p class="show"><%=rsvps.name; %></p>
            </li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>
              <h3 class="show">From</h3>
              <p class="show"><%=rsvps.from; %></p>
            </li>
          </ul>
        </div>
      </div>
      <ul>
        <li>
          <h3>Memory</h3>
          <p class="tex"><%=rsvps.memory; %></p>
        </li>
        <li>
          <h3>Wish</h3>
          <p class="tex"><%=rsvps.wish; %></p>
        </li>
        <li>
          <h3>Side</h3>
          <p class="tex"><%=rsvps.side; %>'s side</p>
        </li>
        <li>
          <h6><%=rsvps.createdAt; %></h6>
        </li>
      </ul>
    </div>
    <div class="content d-flex justify-content-between mx-auto buttons">
  <form action="/rsvps/<%=rsvps.id; %>/edit">
      <input class="cranberry" type="submit" value="Edit"/>
  </form>

<form action="/rsvps/<%=rsvps.id; %>?_method=DELETE" method="POST">
    <input class="cranberry" type="submit" value="Delete"/>
</form>

<form action="/rsvps/">
    <input class="cranberry" type="submit" value="View all"/>
</form>
</div>
  </div>
  <%- include('./partials/nav.ejs') %>
</body>

</html>
