<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  <div class="container">
    <% for(let i = 0; i < rsvps.length; i++){ %>
    <div class="content mx-auto">
      <div class="signed">


      <a href="<%=rsvps[i].img%>" target="_blank"><img class="float-right pic img-fluid" src="<%=rsvps[i].img%>"> </a><br>
          <ul>
            <li>
              <h1 class="show"><%=rsvps[i].name; %></h1>
            </li>
            <li>
              <i class="fa fa-map-marker cran"></i> <p class="show"><%=rsvps[i].from; %></p>
            </li>
        <li>
          <h3>Favorite Memory of The Couple</h3>
          <p class="tex"><%=rsvps[i].memory; %></p>
        </li>
        <li>
          <h3>Wishes to Colleen and Blake</h3>
          <p class="tex"><%=rsvps[i].wish; %></p>
        </li>
        <li>
          <p class="tex"><%=rsvps[i].side; %></p>
        </li>
        <li>
          <h6><%=rsvps[i].createdAt; %></h6>
        </li>
      </div>
        <hr class="gold-index">

      </ul>
    </div>
    <% } %>
  </div>
  <%- include('../partials/nav.ejs') %>
</body>

</html>
