<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  <div class="container">
    <div class="content mx-auto">
      <a href="<%=rsvps.img%>" target="_blank"><img class="float-right pic" src="<%=rsvps.img%>"></a>
          <ul>
            <li>
              <h1 class="show"><%=rsvps.name; %></h1>
            </li>
            <li>

              <i class="fa fa-map-marker cran"></i> <p class="show"><%=rsvps.from; %></p>
            </li>
        <li>
          <h3>Favorite Memory of The Couple</h3>
          <p class="tex"><%=rsvps.memory; %></p>
        </li>
        <li>
          <h3>Wishes to Colleen and Blake</h3>
          <p class="tex"><%=rsvps.wish; %></p>
        </li>
        <li>
          <h3>Side</h3>
          <p class="tex"><%=rsvps.side; %></p>
        </li>
        <li>

          <h6><%=rsvps.createdAt; %></h6>
        </li>
      </ul>
    </div>
    <div class="content d-flex justify-content-between mx-auto buttons">
  <form action="/rsvps/<%=rsvps.id; %>/edit">
      <input class="cranberry" type="submit" value="Edit"/>
  </form>

<form action="/rsvps/<%=rsvps.id; %>?_method=DELETE" method="POST">
    <input class="cranberry" type="submit" value="Delete"/>
</form>

<form action="/rsvps/">
    <input class="cranberry" type="submit" value="View all"/>
</form>
</div>
  </div>
  <%- include('../partials/nav.ejs') %>
</body>

</html>
